body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 40px;
}
.blog-name {
  color: crimson;
}
.flexible-container {
  display: flex;
  padding: 20px;
}
.half-width {
  width: 50%;
}
img {
  width: 95%;
  height: 450px;
  position: relative;
  padding-left: 15px;
  padding-bottom: 10px;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(rgba(158, 11, 216, 0.973), cyan);
  border-radius: 5px;
  color: black;
  padding: 6px;
}
.top-banner {
  background-image: url(image/bg-1.jpg);
  background-repeat: no-repeat;
}
.mid-banner {
  background-image: url(image/bg-1.jpg);
  background-repeat: no-repeat;
}
p {
  text-align: justify;
}
#video-valo {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
video {
  width: 320px;
  height: 180px;
}
#video-codm2 {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
#video-codm {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.game-name {
  text-shadow: 5px 5px 5px gray;
  color: crimson;
  text-align: center;
  font-weight: 600;
}
.video-text {
  border-left: 2px solid crimson;
  padding-left: 20px;
  padding-right: 20px;
}
.background-img {
  background-image: url(image/bg-new.jpg);
  background-repeat: no-repeat;
}
